.background {
    background: #00000050;
    position: absolute;
    top: var( --header-height );
    left: 0;
    width: 100vw;
    height: calc(100vh - var( --header-height ) );
}

.logo {
    font-size: 2.2rem;
    font-weight: 600;

    .logo__image {
        max-width: 50px;
        width: 100%;
    }

    .logo__link {
        align-items: center;
        border: 1px dotted blue;
        display: flex;
        justify-content: space-around;
        text-decoration: none;
    }

    .logo__text {
        color: var( --paolo-veronese-green );
    }

    .logo__text--blue {
        color: var( --bleu-de-france );
    }

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var( --header-height );
    gap: 1rem;
}

.main-menu {
    align-items: center;
    background: #F2F2F2;
    display: none;
    gap: .5rem;
    justify-content: end;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 5%;
    top: var( --header-height );
    width: 23rem;

    .menu-item.menu-login {
        display: block;
    }
    
    @media ( min-width: 768px ) {
        .menu-item.menu-login {
            display: none;
        }
    }
    
    li.menu-item.menu-login ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 0 .5rem 0;
    }
}

.auth-menu {
    align-items: center;
    background: #F2F2F2;
    display: none;
    gap: .5rem;
    justify-content: end;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 5%;
    top: var( --header-height );
    width: 16rem;
}

.menu-item a {
    font-size: 1.7rem;
    text-decoration: none;
    display: block;
    padding: 1.2rem 2.4rem;
}

.main-menu__container {
    flex-basis: 55%;
    text-align: right;
}
.auth-menu__container {
    flex-basis: 20%;
    text-align: right;
}

.auth-menu {
    .menu-item {
        flex-basis: 11rem;
        /* border: 1px solid blue; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.menu-left {
    list-style: none;
    padding: 0;

    .menu-item {
        align-items: center;
        display: flex;
        justify-content: end;
    }

    .link-item {
        align-items: center;
        display: flex;
        height: 6rem;
        justify-content: center;
        position: relative;
        width: 7rem;
    }
}

#logo {
    flex-basis: 16rem;
}
#menu-left {
    flex-basis: 8rem;
}

@media ( min-width: 768px ) {
    #logo { 
        flex-basis: 16rem;
    }
    #menu-left { 
        flex-basis: 10rem;
    }
}

#cart-items {
    align-items: center;
    background: red;
    border-radius: 1rem;
    color: white;
    display: flex;
    font-size: 1.4rem;
    height: 2rem;
    justify-content: center;
    position: absolute;
    right: 1.4rem;
    top: .4rem;
    width: 2rem;
}

/** Interaccion del Menu */
#toggle-main-menu,
.main-menu__close,
.background {
    display: none;
}

/** Crea interaccion  */
#toggle-main-menu:checked ~ .main-menu__close,
#toggle-main-menu:checked ~ .background,
#toggle-main-menu:checked ~ .main-menu {
    display: block;
}

#toggle-main-menu:checked ~ .main-menu__open {
    display: none;
}

@media ( min-width: 768px ) {
    .hamburger-icon {
        display: none;
    }
    .navbar {
        display: flex;
    }
    .main-menu {
        display: flex;
        width: unset;
        position: initial;
        background: white;
        height: var( --header-height );
    }
    .auth-menu {
        display: flex;
        width: unset;
        position: initial;
        background: white;
        height: var( --header-height );
        align-items: stretch;
        justify-content: space-between;
        gap: .5rem;
    }
    .main-menu__open {
        display: none;
    }
    .menu-item a {
        padding: 0;
    }
}

@media ( min-width: 1200px ) {
    #logo { 
        flex-basis: 16rem;
    }
    #main-menu {
        flex-basis: 120rem;
    }
    #auth-menu {
        flex-basis: 20rem;
    }
    #menu-left { 
        flex-basis: 10rem;
    }
}