<div class="card">
    <div class="card-content">
        <img src="https://placehold.co/280x160" alt="Nombre Producto" />
        <div class="card-info">
            <h4 class="product-name">Nombre producto</h4>
            <span class="product-category">Categoria</span>
            <div class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quidem velit, ipsum ut consequatur possimus consectetur natus modi.</div>
        </div>
        <div class="card-actions">
            <span class="price">{{ '90' | currency }}</span>
            <a href="#" class="link-item">
                <mat-icon>shopping_cart</mat-icon>
            </a>
        </div>
    </div>
</div>