/* You can add global styles to this file, and also import other style files */
:root {
    /** Colors */
    --bleu-de-france: #2A7AE4;
    --anti-flash-white: #F3F3F3;
    --black: #000000;
    --charleston-green-v1: #2D2D2D;
    --charleston-green-v2: #2B2B2B;
    --paolo-veronese-green: #009379;
    --piggy-pink: #F6DCE9;
    --pink-lace: #F9E6F0;
    --white: #ffffff;

    --Cultured: #F5F5F5;
    --OuterSpace: #464646;

    /** Header */
    --header-height: 6rem;

    /** Anchors */
    --color-menu-link: var( --charleston-green-v1 );

    /** Fonts */
    --overall-font-size: 62.5%;

    /** Forms */
    --height-input: 69px;
    --height-btn: 3.8rem;

    /** Search Form */
    --height-field: 4.4rem;
    --input-height-search: var( --height-field );
    --icon-width-search: var( --height-field );
    --icon-height-search: var( --height-field );

    /** Contact Form */
    --input-height: 5.6rem;
    --textarea-height: calc( var( --input-height ) * 1.46 );
}

*,
*::before,
*::after {
    /* border: 1px dotted blue; */
	box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: var( --overall-font-size );      /* 1rem = 10px */
}

body {
    font-family: "Epilogue", sans-serif;
    font-size: 1.6rem;      /* 16px */
    line-height: 1.614rem;
    text-align: center;
}

img,
video,
iframe {
    block-size: auto;
    max-inline-size: 100%;
}

p {
    line-height: 1.4;
}

a {
    color: var( --OuterSpace );
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.644rem;
    text-decoration: none;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    margin-left: auto;
    margin-right: auto;
    padding-left: calc( var( --gutter-x ) * 0.5 );
    padding-right: calc( var( --gutter-x ) * 0.5 );
    width: 100%;
}

#page.page {
    min-height: calc(100vh - var(--header-height));
    border: 1px solid green;
}

@media ( min-width: 576px ) {
    .container-sm, 
    .container {
        max-width: 540px;
    }
}
@media ( min-width: 768px ) {
    .container-md, 
    .container-sm, 
    .container {
        max-width: 720px;
    }
}
@media ( min-width: 992px ) {
    .container-lg, 
    .container-md, 
    .container-sm, 
    .container {
        max-width: 960px;
    }
}
@media ( min-width: 1200px ) {
    .container-xl, 
    .container-lg, 
    .container-md, 
    .container-sm, 
    .container {
        max-width: 1140px;
    }
}
@media ( min-width: 1400px ) {
    .container-xxl, 
    .container-xl, 
    .container-lg, 
    .container-md, 
    .container-sm, 
    .container {
        max-width: 1320px;
    }
}

.btn {
    align-content: center;
    border: 2px solid transparent;
    height: var( --height-btn );
    max-width: 16rem;
    text-align: center;
    width: 100%;
}

.btn-primary {
    background-color: var( --bleu-de-france );
    border: 2px solid var( --bleu-de-france );
    color: var( --white );
    font-size: 1.4rem;
    font-weight: 500;
}
.btn-primary:hover {
    color: var( --white );
}

.btn-outline-primary {
    background-color: var( --white );
    border: 2px solid var( --bleu-de-france );
    color: var( --bleu-de-france );
    font-size: 1.4rem;
    font-weight: 500;
}