/* You can add global styles to this file, and also import other style files */
:root {
    /** Colors */
    --bleu-de-france: #2A7AE4;
    --anti-flash-white: #F3F3F3;
    --black: #000000;
    --charleston-green-v1: #2D2D2D;
    --charleston-green-v2: #2B2B2B;
    --paolo-veronese-green: #009379;
    --piggy-pink: #F6DCE9;
    --pink-lace: #F9E6F0;
    --white: #ffffff;

    /** Header */
    --header-height: 6rem;

    /** Forms */
    --height-input: 69px;
    --height-btn: 3.8rem;

    /** Anchors */
    --color-menu-link: var( --charleston-green-v1 );

    /** Fonts */
    --overall-font-size: 62.5%;
}

* {
    /* border: 1px dotted blue; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: var( --overall-font-size );      /* 1rem = 10px */
}

body {
    font-family: "Epilogue", sans-serif;
    font-size: 1.6rem;      /* 16px */
}

.container {
    width: 90%;
    margin: 0 auto;
}

p {
    line-height: 1.4;
}

.mat-body-large, .mat-typography .mat-body-large, .mat-typography {
    font: 400 1.7rem / 1.5rem Roboto, sans-serif;
    letter-spacing: .031rem;
}

.btn {
    align-content: center;
    border: 2px solid transparent;
    height: var( --height-btn );
    max-width: 16rem;
    text-align: center;
    width: 100%;
}

.btn-primary {
    background-color: var( --bleu-de-france );
    border: 2px solid var( --bleu-de-france );
    color: var( --white );
    font-size: 1.4rem;
    font-weight: 500;
}
.btn-primary:hover {
    color: var( --white );
}

.btn-outline-primary {
    background-color: var( --white );
    border: 2px solid var( --bleu-de-france );
    color: var( --bleu-de-france );
    font-size: 1.4rem;
    font-weight: 500;
}